body{
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
}
.el-table{
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
}
.login-container {
    /*box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);*/
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin: 180px auto;
    width: 350px;
    padding: 35px 35px 15px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
    .title {
        margin: 0 auto 40px;
        text-align: center;
        color: #505458;
    }
    .remember {
        margin: 0 0 35px;
    }
}

.el-table .cell{
    text-align: center;
}

.filters-items-25 {
    width: 25%;
}
.filters-button {
    float: right;    
}
.listPic{
    width: 300px;
    height: 300px;
}
.toolbar{
    margin: 5px 0px;
}
.toolbar .el-input__inner{
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
}
.toolbar .el-button{
    font: 12px/1.5 Tahoma,Helvetica,Arial,'宋体',sans-serif;
}
.label-loginName{
    font-weight: bold;
    color: #FFFFFF;
}